.doNotExitAlert {
    background:#ca0808;
    color:#fff;
    border-bottom:#fff dashed 3px;
}

.couponCountdown {
    border:#ca0808 dashed 3px
}

.smallText {
    font-size: .6em;
}

.timerText {
    font-size: 2.5em;
}

.medText {
    font-size: .75em;
}

.largeText {
    font-size: 1.2em;
}

#minutes1 {
    background-color: #FFF200;
}

#seconds1 {
    background-color: #FFF200;
}